@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-black: #504741;
      --color-white: #fbfaf8;
      --color-primary: #008b44;
      --color-secondary: #ffd350;
    }
}


  